
.fedre{
	width: 100%;
}
.fudri{
	width: 65%;
}
.fedri{
	width: 100%;
}
.produto-descricao{
	color: white;
}
.preco-produto{
	color: green;
}
.bui{
	color: white;
}
.copyright{

}
footer {
  text-align: center;
  background: #2F4F4F;
  padding: 40px 0;

}
.bigu{
	width: 300px;
}
